In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from pymongo import MongoClient
from spacy.en import English

In [3]:
import textacy

In [4]:
client = MongoClient('localhost', 27017)
db = client.python_import
collection = db.earnings_transcript_NAS100

In [5]:
transcripts = pd.DataFrame(list(collection.find()))

In [6]:
transcripts.head(3)

,_id,date_number,h_tone,publishDate,qAndAText,q_and_a_h_tone,q_and_a_wordSize,rawText,time_number,tradingSymbol,url,wordSize,zacksEarningsCallDate
0,589c947d6a0e660f748249d9,1170201,"{'positiveCount': 266, 'negativeCount': 32}",2017-02-01 01:27:17,Session Operator Your first question will com...,"{'positiveCount': 149, 'negativeCount': 22}",5588,"Apple, Inc. (NASDAQ:AAPL) Q1 2017 Earnings Cal...",12717,AAPL,http://seekingalpha.com/article/4041266-apple-...,9452,NaT
1,589c947d6a0e660f748249da,1161026,"{'positiveCount': 222, 'negativeCount': 33}",2016-10-26 01:35:27,Session Operator First we'll hear from Gene M...,"{'positiveCount': 129, 'negativeCount': 26}",6674,"Apple, Inc. (NASDAQ:AAPL) Q4 2016 Earnings Cal...",13527,AAPL,http://seekingalpha.com/article/4014922-apple-...,10378,NaT
2,589c947d6a0e660f748249db,1160727,"{'positiveCount': 234, 'negativeCount': 46}",2016-07-27 01:01:38,Session Operator Your first question will com...,"{'positiveCount': 101, 'negativeCount': 26}",6039,"Apple, Inc. (NASDAQ:AAPL) Q3 2016 Earnings Cal...",10138,AAPL,http://seekingalpha.com/article/3991811-apple-...,10328,NaT

In [7]:
texts = transcripts['rawText'].tolist()
metadatas = transcripts['_id'].apply(str).tolist()

In [8]:
corpus = textacy.Corpus('en')

In [ ]:
step = 200
for i in range(0, len(texts), step):
    corpus.add_texts(texts=texts[i:i+step], metadatas=metadatas[i:i+step])
    print('{} - {} added'.format(i, i+step))
    corpus.save('./', name='earnings_transcript_NAS100_' + i, compression='gzip')

0 - 50 added
50 - 100 added
100 - 150 added
150 - 200 added
200 - 250 added
250 - 300 added
300 - 350 added
350 - 400 added
400 - 450 added
450 - 500 added
500 - 550 added
550 - 600 added
600 - 650 added
650 - 700 added
700 - 750 added
750 - 800 added
800 - 850 added
850 - 900 added
900 - 950 added
950 - 1000 added
1000 - 1050 added
1050 - 1100 added
1100 - 1150 added
1150 - 1200 added
1200 - 1250 added
1250 - 1300 added
1300 - 1350 added
1350 - 1400 added
1400 - 1450 added
1450 - 1500 added
1500 - 1550 added
1550 - 1600 added
1600 - 1650 added
1650 - 1700 added
1700 - 1750 added
1750 - 1800 added
1800 - 1850 added
1850 - 1900 added
1900 - 1950 added
1950 - 2000 added
2000 - 2050 added
2050 - 2100 added
2100 - 2150 added
2150 - 2200 added
2200 - 2250 added
2250 - 2300 added
2300 - 2350 added
2350 - 2400 added
2400 - 2450 added
2450 - 2500 added
2500 - 2550 added
2550 - 2600 added
2600 - 2650 added
2650 - 2700 added
2700 - 2750 added
2750 - 2800 added
2800 - 2850 added
2850 - 2900 added
2900 - 2950 added

In [13]:
corpus.save('./', name='earnings_transcript_NAS100', compression='gzip')