In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [3]:
s

a   -0.483330
b    0.352318
c   -0.504018
d   -1.605294
e   -0.309732
dtype: float64

In [4]:
s+s

a   -0.966661
b    0.704635
c   -1.008037
d   -3.210588
e   -0.619465
dtype: float64

In [5]:
df = pd.read_csv('actors_Zene3.csv', sep=',')
df.Position = df.Position.astype(float)
df.Capability = df.Capability.astype(float)
df.Salience = df.Salience/100.0
df.head()

    Actor  Capability  Position  Salience
0    Peti        0.25      40.0       0.4
1    Timi        0.10       0.0       0.9
2  Balazs        0.25     100.0       0.9
3    Miri        0.05      50.0       0.2
4   Bence        0.25      60.0       0.8

In [8]:
# Location of file
Location = r'c:\Dropbox\Game Theory\Matlab\BDM\Zenekar.xlsx'

# Parse a specific sheet
#df = pd.read_excel(Location, 1, index_col='StatusDate')
df = pd.read_excel(Location, 3)
df.dtypes

name           object
capability    float64
position        int64
salience      float64
dtype: object

In [9]:
df

              name  capability  position  salience
0             Peti        0.15        40       0.4
1             Timi        0.10         0       0.9
2           Balazs        0.20       100       0.9
3             Miri        0.05        50       0.2
4            Bence        0.15        60       0.8
5             Viki        0.10        60       0.4
6            Krisz        0.15        20       0.9
7  Krisz Barátnője        0.10        20       0.9

In [10]:
df = pd.read_excel(r'c:\Dropbox\Game Theory\Matlab\BDM\Zenekar.xlsx', 3)
df.dtypes

name           object
capability    float64
position        int64
salience      float64
dtype: object

In [11]:
df

              name  capability  position  salience
0             Peti        0.15        40       0.4
1             Timi        0.10         0       0.9
2           Balazs        0.20       100       0.9
3             Miri        0.05        50       0.2
4            Bence        0.15        60       0.8
5             Viki        0.10        60       0.4
6            Krisz        0.15        20       0.9
7  Krisz Barátnője        0.10        20       0.9