In [2]:
import pandas as pd
import numpy as np

In [3]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [8]:
dk = pd.read_excel(r'c:\Dropbox\Game Theory\Matlab\BDM\Predictioneers_Game.xlsx', 'WW1_mod')

In [9]:
dk

   Actor  Capability  Position  Salience
0    AUH          68      1.00      0.95
1    GER         158      0.95      0.75
2    ITA          26      0.95      0.75
3    FRN          75      0.45      0.70
4    RUS         111      0.40      0.75
5    ENG         138      0.35      0.60
6    SRB           2      0.00      0.95
7    TUR          12      0.90      0.70
8    ROM           6      0.20      0.90
9    GRC           2      0.50      0.75
10   BUL           2      0.75      0.75

In [10]:
dk.index

RangeIndex(start=0, stop=11, step=1)

In [11]:
dk.columns

Index(['Actor', 'Capability', 'Position', 'Salience'], dtype='object')