In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.DataFrame(np.random.randint(-10,10, size=(4,4)), index=['A', 'B', 'C', 'D'], columns='E F G H'.split(' '))

In [3]:
temp = pd.Series(dict(E=math.nan, F=math.nan, G=math.nan, H=math.nan), name='New')
df = df.append(temp)
df

       E    F    G     H
A   -4.0  4.0 -6.0  -2.0
B    5.0 -5.0 -2.0   1.0
C    3.0 -9.0  5.0   9.0
D   -9.0 -2.0  2.0 -10.0
New  NaN  NaN  NaN   NaN

In [4]:
df[df.isnull().all(axis=1)]=0

In [5]:
indexes = df.abs().idxmin(axis=1)
indexes

A      H
B      H
C      E
D      F
New    E
dtype: object

In [6]:
df.lookup(indexes.index, indexes.values)

array([-2.,  1.,  3., -2.,  0.])

In [7]:
df

       E    F    G     H
A   -4.0  4.0 -6.0  -2.0
B    5.0 -5.0 -2.0   1.0
C    3.0 -9.0  5.0   9.0
D   -9.0 -2.0  2.0 -10.0
New  0.0  0.0  0.0   0.0

In [8]:
indexes = df.abs().idxmin(axis=1)
indexes

A      H
B      H
C      E
D      F
New    E
dtype: object

In [9]:
df.lookup(indexes.index, indexes.values)

array([-2.,  1.,  3., -2.,  0.])