In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import itertools
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [3]:
dates = pd.date_range('20130101', periods=6)

In [4]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2013-01-01 -0.227008  0.048444 -2.217506  0.236502
2013-01-02  0.488125 -0.627535 -0.826138  0.997591
2013-01-03 -0.082599 -0.208461 -0.689104 -1.048023
2013-01-04 -1.014152  0.326927 -0.085869  0.195345
2013-01-05  0.312041 -1.358786  0.808222  2.449941
2013-01-06 -2.867041 -0.261926  0.195664  0.133627

In [9]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:              'B' : pd.Timestamp('20130102'),
   ....:              'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:              'D' : np.array([3] * 4,dtype='int32'),
   ....:              'E' : pd.Categorical(["test","train","test","train"]),
   ....:              'F' : 'foo' })

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo